
 <div id='nav-bar' class="nav-container">
    <div class="nav-section">
        <% if(!locals.isLoggedIn){%>
        <div class="nav-mini-sec">
        <button class="nav-btn" onclick="location.assign('/user/login')">Login</button>
        </div>
        <%}%>
       <% if(locals.isLoggedIn){%>
        <div class="nav-mini-sec">
            <button class="nav-btn" onclick="location.assign('/team/all')"><i class="fas fa-users"></i></button>
        </div>
        <div class="nav-section">
            <div class="nav-mini-sec">
            <button class="nav-btn" onclick="location.assign('/game/all')"><i class="fas fa-gamepad-alt"></i></button>
        </div>
        <div class="nav-mini-sec">
            <form action="/user/logout" method="post">
                <button class="nav-btn" type="submit">Logout</button>
                <input type ="hidden" name ="_csrf" value= '<%=csrfToken%>'>
            </form>
        </div>
       <%}%>
       <% if(!locals.user){%>
        <div class="nav-mini-sec">
        <button class="nav-btn" onclick="location.assign('/user/sign-up')">Sign-up</button>
        </div>
       <%}%>
       
    </div>
 </div>
 </div>