<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>4338 Scouting</title> 
    <link rel = "stylesheet" href = "/main.css">
    
    <!-- <link rel = "icon" href = "/favicon.ico"> -->
    <script src="https://kit.fontawesome.com/d8815a66b0.js" crossorigin="anonymous"></script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-FY05JHE9MH"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'G-FY05JHE9MH');
    </script>
</head>