<%- include('includes/top.ejs') %> 
<body>
<div class="top">
    <%- include('includes/search.ejs', {path: '/team/search'}) %>       
    <div class="main">
    <div class="form-container">
      <form action = "/team/new" method="post" autocomplete="off">
        <div class="form-section">
            <label for="teamNumber">Number</label>
            <input class="num-input" name ="teamNumber" required><br>
        </div>
    <div class="form-section">
        <label for="teamName">Name</label>
        <input class="input-txt" name = "teamName" required>
    </div>
    <div class="form-section">
        <label for="robotType">Robot Type</label>
        <select class="select" name="robotType" id="robotType">
            <option value="TANK" selected>TANK</option>
            <option value="SWERVE">SWERVE</option>
        </select><br>
    </div>
    <div class="form-section">
        <label for="barReached">Bar Reached</label>
        <select class='select' name="barReached" id="barReached">
            <option value="LOW" selected>LOW</option>
            <option value="MID">MID</option>
            <option value="HIGH">HIGH</option>
            <option value="TRAVERSAL">TRAVERSAL</option>
        </select><br>
    </div>
    <div class="form-section">
        <label for="shooterType">Shooter Type</label>
        <select calss="select" name="shooterType" id="shooterType">
            <option value="LOW" selected>LOW</option>
            <option value="HIGH">HIGH</option>
        </select><br>
        </div>
    <div class="form-section">
        <label for="defenseBot">Defense Bot</label>
        <select class="select" name="defenseBot" id="defenseBot">
            <option value="NOT" selected>NOT</option>
            <option value="BAD">BAD</option>
            <option value="OK">MID</option>
            <option value="GOOD">GOOD</option>
        </select><br>
    </div>
    <div class="form-section">
        <label for="teamWork">Team Work Rating</label>
        <select name="teamWork" id="teamWork">
            <option value="TEAM">TEAM</option>
            <option value="SOLO">SOLO</option>
        </select><br>
    </div>
    <div class="form-section">
        <label for="otherComments">Other Comments</label><br>
        <input class="big-input" type="text" name="otherComments"><br>
    </div>
        <button class="general-btn" type="submit">Add Team</button>
        <input type ="hidden" name ="_csrf" value= '<%=csrfToken%>'>
      </form>
    </div>
</div>
<%- include('includes/nav.ejs') %> 
</div>
</div>
</body>