<%- include('includes/top.ejs') %> 
<body>
    <div class="top">
    <%- include('includes/search.ejs') %> 
        <div class="main">
        <div>Sorry, something went wrong</div><br>
        <button class = "nav-button" onclick ="location.assign('/')">Return to home</button>
        </div>
    <%- include('includes/nav.ejs') %> 
    </div>
</body>