<%- include('includes/top.ejs') %> 
<body>
    <div class="top">
      <%- include('includes/search.ejs',{path:'/team/search'}) %> 
    <div class="main">
        <div>Hello</div>
    </div>
    <%- include('includes/nav.ejs') %>  
    </div>
   
</div>
</body>