<%- include('includes/top.ejs') %> 
<body>
    <div class="top">
        <%- include('includes/search.ejs') %> 
        <div class="main">
            <div class="auth-form-container">
        <form class="form" action="/user/login" method="post">
            <div class="form-section">
            <label for="email">Email</label>
            <input class="input-txt" name ="email" type="email">
        </div>
        <div class="form-section">
            <label for="password">Password</label>
            <input class="input-txt" name="password" type="password">
        </div>
            <button type = "submit" class="form-btn">Login</button>
            <input type ="hidden" name ="_csrf" value= '<%=csrfToken%>'>
        </form>
        <button class="link-btn" onclick="location.assign('/user/reset')">Forgot Password</button>
    </div>
        </div>
        <%- include('includes/nav.ejs') %> 
    </div>
</body>