<%- include('includes/top.ejs') %> 
<body>
    <div class="top">
      <%- include('includes/search.ejs',{path:'/team/search'}) %> 
    <div class="main">
        <div class="message"><%=message%></div>
        <button class="general-btn" onclick="location.assign('/')">OK</button>
      </div>
      <%- include('includes/nav.ejs') %> 
    </div>
</div>
</body>