<%- include('includes/top.ejs') %> 
<body>
    <div class="top">
    <%- include('includes/nav.ejs') %> 
    <div class="main">
        <div class="message"><%=message%></div>
        <button class="general-btn" onclick="location.assign('/')">OK</button>
      </div>
    </div>
</div>
</body>