<%- include('includes/top.ejs') %> 
<body>
    <div class="top">
    <%- include('includes/search.ejs', {path:'/team/search'}) %> 
        <div class="main">
            <div class="team-container">
            <div class="team-info-container">
                <%- include('includes/team-info.ejs',{team:team[0]})%>
            </div>
            </div>
        </div>
    <%- include('includes/nav.ejs') %> 
    </div>
</body>